body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.digit {
    font-size: 150px;
    font-weight: bold;
}

.txt {
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}

.btn{
    padding: 7px 25px;
    font-size: 20px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}
#start{
    background: #1abc9c;
}
#stop{
    background: #3498db;
}
#reset{
    background: #e74c3c;
}